<h2 mat-dialog-title>{{ messages.enter_board_details }}</h2>


<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ messages.enter_width }}</mat-label>
    <input matInput placeholder={{messages.enter_row}} formControlName="row" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>{{ messages.enter_height }}</mat-label>
    <input matInput placeholder={{messages.enter_col}} formControlName="col" required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="save()">
    {{ messages.create }}
  </button>
</mat-dialog-actions>
